<h1><%= @group.name %></h1>
<p>Created by: <%= User.find_by_id(@group.creator_id)&.name %></p>
<% users = @group.users %> | <%= users.size %> Members</p>
<div class="tab-pane h-100" id="tab-content-show-group" role="tabpanel">
  <div class="d-flex flex-column h-100">

    <div class="container-fluid py-6">
      <!-- Tabs -->
      <ul class="nav nav-tabs nav-justified mb-6" role="tablist">
        <li class="nav-item">
          <a href="#show-group-details" class="nav-link active" data-toggle="tab" role="tab" aria-selected="true">Games</a>
        </li>

        <li class="nav-item">
          <a href="#show-group-members" class="nav-link" data-toggle="tab" role="tab" aria-selected="false">Members</a>
        </li>
      </ul>
      <!-- Tabs -->

      <!-- Create chat -->
      <div class="tab-content" role="tablist">

        <!-- Chat details -->
        <div id="show-group-details" class="tab-pane fade show active" role="tabpanel">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Code</th>
              <th>Created at</th>
              <th>Created by</th>
              <th>Status</th>
            </tr>
            </thead>
            <% games = @group.games %>
            <% game_users = User.where(:id => games.pluck(:creator_id)) %>
            <% games.order("created_at desc").each do |game| %>
              <tr>
                <td><%= link_to game.name, game %></td>
                <td><%= link_to game.created_at.strftime("%d-%m-%Y %H:%M") %></td>
                <td><%= game_users.select { |x| x.id == game.creator_id }.first&.name %></td>
                <td><%= ((game.status == 3) ? "<span class='badge badge-success'>Finished</span>" : "<span class='badge badge-success'>Ongoing</span").html_safe %></td>
              </tr>
            <% end %>
	  </table>
	  <br/>
	  <hr/>
	  <h3>New Game</h3>
          <% alpha_users = users.sort_by { |x| x.first_name.upcase } %>
          <% if alpha_users.size > 0 %>
            <div class="row">
              <% alpha_users.each do |user| %>
                <div class="col-3">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="id-user-game-<%= user.id %>" name="<%= "game[members][#{user.id}]" %>" type="checkbox" value="<%= user.id %>">
                    <label class="custom-control-label" for="id-user-game-<%= user.id %>"><%= user.name %></label>
                  </div>
                </div>
              <% end %>
            </div>
    <% end %>
    <br/>
          <%= link_to "New Game", "#", :class => "btn btn-primary btn-block", :onclick => "new_game();" %>
        </div>
        <!-- Chat details -->

        <!-- Chat Members -->
        <div id="show-group-members" class="tab-pane fade" role="tabpanel">

          <% ('A'..'Z').each do |alpha| %>
            <% alpha_users = users.select { |x| x.first_name[0].upcase == alpha } %>
            <% if alpha_users.size > 0 %>
              <div class="mb-6">
                <small class="text-uppercase"><%= alpha %></small>
              </div>
              <% alpha_users.each do |user| %>
                <!-- Friend -->
                <div class="card mb-6">
                  <div class="card-body">

                    <% offline = "Online" %>

                    <div class="media">
                      <div class="avatar avatar-<%= offline.downcase %> mr-5">
                        <img class="avatar-img" src="<%= user.profile_image %>" alt="<%= user.name %>">
                      </div>

                      <div class="media-body align-self-center mr-6">
                        <h6 class="mb-0"><%= user.name %></h6>
                        <small class="text-muted"><%= offline %></small>
                      </div>
                    </div>

                  </div>

                </div>
              <% end %>
              <!-- Friend -->
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    function new_game() {
        var user_ids = [];
        $("input[type=checkbox][name^='game[members]']:checked").each(function (ele) {
            user_ids.push($(this).val())
        });
        if (user_ids.length == 4 || user_ids.length == 6 || user_ids.length == 8 || user_ids.length == 12) {
            $.post('<%= new_game_group_path(@group,:format=>:json) %>', {user_ids: user_ids}, function (data) {
                if (data["errors"]) {
                    alert(data["errors"]);
                }
                if (data["redirect"]) {
                    window.location = data["redirect"];
                }
            })
        } else {
            alert("4, 6 , 8 or 12 players needed")
        }
    }
</script>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
