<%= content_for :title do %><%= @game.group.name %> : <%= @game.name.split("-")[0] %>
<% end %>
<style>
  .highlight {
    border: 4px solid lightgreen;
  }
</style>
<div>
  <div id="history_panel">
    <div class="card">
      <div class="media">
        <div class="media-body align-self-center">
          <h4 class="mb-0">Score
            <div id="score_body" class="d-inline-block">
              <%= render :partial => "score" %>
            </div>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div id="history_panel">

    <div class="card">
      <div class="media">
        <div class="media-body align-self-center">
          <h4 class="mb-0">Last move #<span id="last_move_no">0</span></h4>
        </div>
      </div>
      <div id="last_move_message" style="color: black;">
        Last move unknown
      </div>
    </div>
  </div>
  <div class="selection_panel">
    <div class="user_list">
      <div class="card-body">
        <div class="media">
          <div class="media-body align-self-center">
            <h4 class="mb-0">Players</h4>
          </div>
        </div>
        <div id="players_body">
          <%= render :partial => "players" %>
        </div>
        <% if @game.status != 3 and @my_game %>
          <%= link_to "Declare", "#", :class => "btn btn-sm btn-danger btn-block #{"btn-light" if current_user.id != @game.current_player}", :onclick => "open_declare_modal();", :id => "declare_btn_init" %>
        <% end %>
      </div>

    </div>
  </div>
  <% if @my_game %>
    <div id="my_cards">
      <div class="card-body">

        <div class="media">

          <div class="media-body align-self-center">
            <h4 class="mb-0">My Cards</h4>
          </div>
        </div>
        <% if @game.status != 3 %>
          <div id="my_cards_body">
            <%= render :partial => "my_cards" %>
          </div>
        <% else %>
          <div class='alert alert-success'>GAME OVER</div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="modal_body">
  <%= render :partial => "modal" %>
</div>
<div id="modal_declare_body">
  <%= render :partial => "declare" %>
</div>
<script>

    var my_turn = <%= current_user.id == @game.current_player %>;
    var requestee_player = 0;
    var requestee_card = "";

    function open_modal(user_id, name) {
        if (my_turn) {
            requestee_player = user_id;
            select_base_card("");
            select_req_card("");
            $("#card_req_btn").attr("disabled", "disabled");
            $('#myModal').appendTo("body").modal('show');
            $('#modal-user').html(name);
        }
    }

    function open_declare_modal() {
        if (my_turn) {
            $('#mydeclareModal').appendTo("body").modal('show');
        }
    }

    function open_vote_modal() {
        $('#myvoteModal').appendTo("body").modal('show');
    }

    var card_xoff = {
        2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 9: 8,
        10: 9, 11: 10, 12: 11, 13: 12, 14: 0,
    };

    var card_yoff = {"D": 0, "H": 1, "S": 2, "C": 3};

    var my_cards = [<%= @my_game.cards[:current].map{|x| "\"#{x}\""}.join(",").html_safe if @my_game %>];

    doPoll();
    var current_move = 0;

    function close_modal() {
        $('#myModal').modal('hide');
        $('.modal-backdrop').remove();
    }

    function close_declare_modal() {
        $('#mydeclareModal').modal('hide');
        $('.modal-backdrop').remove();
    }

    function destroy_modal() {
        $('#myModal').modal('hide');
        $('#myModal').remove();
        $('.modal-backdrop').remove();
    }

    function destroy_declare_modal() {
        $('#mydeclareModal').modal('hide');
        $('#mydeclareModal').remove();
        $('.modal-backdrop').remove();
    }

    function destroy_vote_modal() {
        $('#myvoteModal').modal('hide');
        $('#myvoteModal').remove();
        $('.modal-backdrop').remove();
    }

    function doPoll() {
        $.get("<%= status_game_path(@game,:format=>:json) %>", function (data) {
            if (data["move"] > current_move) {
                current_move = data["move"];
                $("#last_move_no").html(current_move);
                $.get("<%= refresh_game_path(@game,:format=>:json) %>", function (data) {
                    destroy_modal();
                    destroy_declare_modal();
                    $("#my_cards_body").html(data["my_cards_html"]);
                    $("#players_body").html(data["players_html"]);
                    $("#score_body").html(data["score_html"]);
                    $("#modal_body").html(data["modal_html"]);
                    $("#modal_declare_body").html(data["declare_html"]);
                    $("#last_move_message").html(data["last_move"]);
                    my_cards = data["my_cards"];
                    my_turn = data["my_turn"];
                    $("#declare_btn_init").addClass("btn-light");
                    if (my_turn) {
                        $("#declare_btn_init").removeClass("btn-light");
                    }
                })
            }
            for (let x = 0; x < <%= (@game.game_users&.count or 0)%>; x++) {
                var datao = data["online_status"][x];
                var user_id = datao["user_id"];
                var add_class = (datao["online"]) ? "online" : "offline";
                var remove_class = (datao["online"]) ? "offline" : "online";
                $("#user_game_profile_" + user_id).addClass("avatar-" + add_class);
                $("#user_game_profile_" + user_id).removeClass("avatar-" + remove_class);
            }
            if (data["status"] == 3) {
                $("#my_cards_body").html("<div class='alert alert-success'>GAME OVER</div>");
                $("#declare_btn_init").remove();
            }
        });
        setTimeout(doPoll, 3000);
    }

</script>
